<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Task manager App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"
    />
    <link rel="stylesheet" href="/style.css"></link>
  </head>
  <body>
    <div id="app" class="pushable">
      <div class="ui sidebar inverted vertical menu visible fixed left">
        <div class="ui logo item">
          <b><i class="icon tasks purple"></i>Task Manager</b>
        </div>
        <div class="iten">
          <div class="ui message green">
            Use this tool to manager your todos. have fun!
          </div>
        </div>
      </div>
      <div class="ui container pusher">
        <div class="ui grid">
          <div class="six wide column">
            <div id="todo" class="tasklist">
              <div class="ui header">
                <i class="icon play circle orange"></i>In Progress Tasks ({{ todoTasks.length }})
              </div>
              <task
              v-bind:task="task"
              v-for="task in todoTasks"/>
            </div>
            <div id="completed" class="tasklist">
              <div class="ui header">
                <i class="icon check circle green"></i>Cpmleted Tasks ({{ completedTasks.length }})
              </div>
              <task
              v-bind:task="task"
              v-for="task in completedTasks"/>
            </div>
          </div>
          <div class="six wide column">
            <div id="editor" class="details ui raise segment purple">
              <div class="ui header grid">
                <div class="left nine wide column">
                  <i class="icon edit violet"></i>Details
                </div>
                <div class="right float five wide column">

                </div>
              </div>
              <div class="ui segment">
                <div class="ui form">
                  <input type="hidden" name="id" v-model="task.id">
                  <from class="ui form">
                    <div class="field">
                      <label>Name</label>
                      <input type="text" name="name" placeholder="Name" required="true" v-model="task.name"/>
                    </div>
                    <div class="field">
                      <label>Description</label>
                      <input type="text" name="description" placeholder="Description" required="true" v-model="task.description"/>
                    </div>
                      <div class="filed inline">
                        <label>Completed</label>
                        <input type="checkbox" name="completed" v-model="task.completed">
                      </div>
                      <button class="ui button green" type="submit">Update</button>
                  </from>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
