<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Task manager App</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"
    />
    <link rel="stylesheet" href="/style.css"></link>
  </head>
  <body>
    <div id="app" class="pushable">
      <div class="ui sidebar inverted vertical menu visible fixed left">
        <div class="ui logo item">
          <b><i class="icon tasks purple"></i>Task Manager</b>
        </div>
        <div class="iten">
          <div class="ui message green">
            Use this tool to manager your todos. have fun!
          </div>
        </div>
      </div>
      <div class="ui container pusher">
        <div class="ui grid">
          <div class="six wide column">
            <div id="todo" class="tasklist">
              <div class="ui header">
                <i class="icon play circle orange"></i>In Progress Tasks ({{ todoTasks.length }})
              </div>
              <div class="ui segment task" v-bind:class="task.completed ? 'done' : 'todo' " v-for="task in todoTasks">
                {{task.id}} {{task.name}}: {{task.description}} completed? {{task.completed}}
              </div>
            </div>
            <div id="completed" class="tasklist">
              <div class="ui header">
                <i class="icon check circle green"></i>Cpmleted Tasks ({{ completedTasks.length }})
              </div>
              <div class="ui segment task" v-bind:class="task.completed ? 'done' : 'todo' " v-for="task in completedTasks">
                {{task.id}} {{task.name}}: {{task.description}} completed? {{task.completed}}
              </div>
            </div>
          </div>
          <div class="six wide column">

          </div>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
